<div>
  {{view searchView class=searchFieldClass disabled=disabled}}
</div>
{{#unless hasNoResults}}
  <div class="dropdown-menu">
    {{view listView
      tagName="ul"
      classNames="ember-typeahead-results"
      height=dropdownHeight
      rowHeight=rowHeight
      content=groupedContent
      itemViewClass=itemView
    }}
  </div>
{{/unless}}
